*{
    margin: 0;
}

.header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-family: 'Poppins', sans-serif;
}

.header li {
    list-style: none;
}

.header ul{
    margin-right: 50px;
}

.header a{
    text-decoration: none;
    color: darkblue;
    font-size: 40px;
}

.main img {
    width: 10%;
}

.uitleg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.uitleg h3{
    font-weight: normal;
}

.uitleg li{
    font-weight: bold;
}

.uitleg a{
    margin-top: 35px;
}

.uitleg a button{
    background-color: lightblue;
    width: 150%;
    font-size: 1.5rem;
    border: solid, blue, 3px;
}